// Product Swatch Colour Classes
.swatch-red {
  background-color: #e80105;
  outline-color: #e80105;
}
.swatch-purple {
  background-color: #5c4c72;
  outline-color: #5c4c72;
}
.swatch-green {
  background-color: #536953;
  outline-color: #536953;
}
.swatch-blue {
  background-color: #3f526a;
  outline-color: #3f526a;
}
