// Main Theme Colours
$primary: #d14b5f;
$primary-dark: #ba2f44;
$primary-light: #db7483;

$secondary-light: #b7db74;
$secondary: #a2d14b;
$secondary-dark: #2b5c18;
$secondary-darkest: #081503;

$shade-white: #ffffff;
$shade-lightest: #f3f3f3;
$shade-light: #d0d0d0;
$shade-medium: #9f9a9b;
$shade-dark: #696364;
$shade-darkest: #272526;
$shade-black: #000000;

$success: #4bd14b;
$warning: #d1d14b;
$error: #d14b4b;
